@import "../../colorscheme"; 
@import "../../buttonStyles"; 
@import "../../mediaQueries"; 

#cart-checkout-container { 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    height: 100vh; 
    padding-top: 120px; 
    h1 { 
        color: white; 
        margin-bottom: 15px;
        margin-top: 2rem;
        @include for-custom-media(650px) { 
            font-size: 1.5rem;  
            text-align: center;
        }
    }

    .cart-checkout-box { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%; 
        height: 60%; 
        max-width: 800px; 
        padding: 10px; 
        border: 2px solid white; 
        border-radius: 16px;
        color: white; 
        overflow-y: auto;
        background: linear-gradient(0deg, rgba(109,117,111,0.8) 0%, rgba(12,13,12,1) 20%, rgba(23,23,22,1) 100%); 
        @include for-custom-media(650px) { 
            width: 95%;  
        }
        #cart-empty-back-link { 
            width: 100%; 
            text-align: center;
            text-decoration: none;
            color: white; 
            &:hover { 
                color: $checkoutButtonColor; 
            }
        }
        #cart-checkout-subtotal { 
            display: flex;
            justify-content: space-between; 
            margin: 20px; 
            @include for-custom-media(650px) { 
                flex-direction: column;
                justify-content: center;
                align-items: center; 
            }
            #cart-checkout-subtotal-price { 
                display: flex;
                align-items: flex-end;
                h3 { 
                    margin-right: 15px; 
                    @include for-custom-media(650px) {
                        margin-top: 10px;  
                        text-align: center;
                    }
                }
            }
        }

        #cart-checkout-buttons { 
            display: flex;
            width: 100%; 
            align-items: center;
            @include for-custom-media(650px) {
                flex-direction: column; 
            }
            .cart-button { 
                @include basic-button; 
                margin-top: 5px; 
                @include for-custom-media(650px) {
                max-width: 250px; 
                width: 100%; 
                }
            }
            
            #cart-empty-cart-button { 
                background-color: $emptyCartButtonColor;
                &:hover { 
                    background-color: $emptyCartButtonColorHover;
                }
            }
            #cart-checkout-button { 
                background-color: $checkoutButtonColor;
                margin-left: 5px; 
                text-decoration: none;
                &:hover { 
                    background-color: $checkoutButtonColorHover;
                }
            }
        }
    }
}