#address-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

#address-form-container #checkout-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#address-form-container #checkout-form #select-field-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 650px) {
  #address-form-container #checkout-form #select-field-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#address-form-container #checkout-form #select-field-container .select-field {
  width: 200px;
  margin-right: 5px;
  border: none;
  background-color: #91d891;
  padding: 6px;
  font-weight: 600;
}

@media (max-width: 650px) {
  #address-form-container #checkout-form #select-field-container .select-field {
    margin-top: 5px;
    width: 250px;
  }
}

#address-form-container #checkout-form #select-field-container .select-field:hover {
  cursor: pointer;
}

#address-form-container #checkout-form #checkout-input-field {
  width: 300px;
  padding: 5px;
}

@media (max-width: 650px) {
  #address-form-container #checkout-form #checkout-input-field {
    width: 250px;
    padding: 4px;
  }
}

#address-form-container #checkout-form #checkout-input-field:focus {
  outline: none;
  border-color: #91d891;
}

#address-form-container #checkout-form #shipping-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  width: 100%;
}

@media (max-width: 650px) {
  #address-form-container #checkout-form #shipping-buttons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#address-form-container #checkout-form #shipping-buttons-container .cart-checkout-button {
  text-decoration: none;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
  width: 120px;
  font-weight: 600;
  font-size: 15px;
  color: black;
  border-radius: 16px;
  border: none;
}

#address-form-container #checkout-form #shipping-buttons-container .cart-checkout-button:hover {
  cursor: pointer;
}

@media (max-width: 650px) {
  #address-form-container #checkout-form #shipping-buttons-container .cart-checkout-button {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    color: black;
    border-radius: 16px;
    border: none;
    margin-top: 5px;
  }
  #address-form-container #checkout-form #shipping-buttons-container .cart-checkout-button:hover {
    cursor: pointer;
  }
}

#address-form-container #checkout-form #shipping-buttons-container #cart-back-to-cart-button {
  min-width: 140px;
  background-color: #ee965c;
}

#address-form-container #checkout-form #shipping-buttons-container #cart-back-to-cart-button:hover {
  background-color: #f8dbb9;
}

#address-form-container #checkout-form #shipping-buttons-container #cart-shipping-to-payment-button {
  background-color: #7ed3e2;
}

#address-form-container #checkout-form #shipping-buttons-container #cart-shipping-to-payment-button:hover {
  background-color: #afdde6;
}
/*# sourceMappingURL=addressForm.css.map */