@import "../../colorscheme";
@import "../../mediaQueries"; 

#navbar-wrapper { 
    display: flex;
    position: fixed; 
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    height: 100px; 
    background: #6d756f;
    background: linear-gradient(315deg, #20201f 70%, #010201 35%, #3a3b3a 30%);
    color: white; 
    border-bottom: 3px solid white;
    margin-bottom: 10px;
    z-index: 9;
    #navbar-home-container { 
        display: flex;
        margin-left: 15px; 
        color: white; 
        text-decoration: none;
        h1 { 
            margin-left: 5px; 
            @include for-custom-media(650px) {
                font-size: 20px;
            }
        }
        &:hover { 
            cursor: pointer;
            color: rgb(221, 100, 100);
            transition: .4s ease-in-out; 
            #navbar-pokeball-icon { 
                transform: rotate(720deg);
                transition: .5s ease-in-out; 
            }
        }
    }
    
    #navbar-link-container { 
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 40px;
        a { 
            margin: 10px;
            font-size: 18px;
            color: white; 
            text-decoration: none;
            &:hover { 
                color: $accentColor; 
                cursor: pointer;
                border-bottom: 2px solid $accentColor;
                transition: .4s ease-in-out; 
            }
        }
    }
    .mobile-nav-links { 
        position: absolute; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        height: 220px; 
        top: 120px;
        left: 0px;  
        width: 100%;  
        z-index: 10;  
        border-top: 2px solid white; 
        border-bottom: 2px solid white; 
        background: rgb(184,180,187);
        background: linear-gradient(173deg, rgb(90, 89, 90) 0%, rgba(38,35,35,1) 50%, rgb(14, 13, 13) 100%); 
        transition: transform .4s ease;
        a { 
            color: white;
            text-decoration: none;
            font-size: 1.2rem; 
            &:hover { 
                color: $accentColor; 
                cursor: pointer;
                border-bottom: 2px solid $accentColor;
                transition: .4s ease-in-out; 
            }
        }
    }
    .mobile-nav-links-hidden { 
        transform: translateX(0%);
    }
    .mobile-nav-links-show { 
        transform: translateX(100%);
    }
    #mobile-nav-hambuger-button {
        width: 35px; 
        height: 35px; 
        margin-right: 10px; 
        background-color: $accentColor; 
        color: black; 
        &:hover { 
            cursor: pointer;
            background-color: rgb(169, 212, 169);
        }
    }
    #hamburger-shoppingcart-wrapper { 
        display: flex;
        flex-direction: row-reverse;
        padding-right: 10px; 
        width: 100%; 
        height: 100%; 
        align-items: flex-end;
    }
}

 #navbar-checkout-container {
    position: relative;
    margin-right: 10px; 
    //Nav checkout cart styling 
    #navbar-checkout-cart { 
        margin-right: 20px;
        color: white; 
        &:hover { 
            color: $checkoutButtonColor;
            cursor: pointer;
            transition: .4s ease-in-out; 
        }
    }
    #navbar-checkout-cart-amount-view { 
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 25px;
        height: 25px;
        top: -22px; 
        right: 8px; 
        color: black; 
        font-weight: 800;
        font-size: 14px; 
        border-radius: 50%; 
        background-color: $accentColor; 
    }    
 }