#navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
  background: #6d756f;
  background: linear-gradient(315deg, #20201f 70%, #010201 35%, #3a3b3a 30%);
  color: white;
  border-bottom: 3px solid white;
  margin-bottom: 10px;
  z-index: 9;
}

#navbar-wrapper #navbar-home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

#navbar-wrapper #navbar-home-container h1 {
  margin-left: 5px;
}

@media (max-width: 650px) {
  #navbar-wrapper #navbar-home-container h1 {
    font-size: 20px;
  }
}

#navbar-wrapper #navbar-home-container:hover {
  cursor: pointer;
  color: #dd6464;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

#navbar-wrapper #navbar-home-container:hover #navbar-pokeball-icon {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#navbar-wrapper #navbar-link-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

#navbar-wrapper #navbar-link-container a {
  margin: 10px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

#navbar-wrapper #navbar-link-container a:hover {
  color: #91d891;
  cursor: pointer;
  border-bottom: 2px solid #91d891;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

#navbar-wrapper .mobile-nav-links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: 220px;
  top: 120px;
  left: 0px;
  width: 100%;
  z-index: 10;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background: #b8b4bb;
  background: linear-gradient(173deg, #5a595a 0%, #262323 50%, #0e0d0d 100%);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

#navbar-wrapper .mobile-nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

#navbar-wrapper .mobile-nav-links a:hover {
  color: #91d891;
  cursor: pointer;
  border-bottom: 2px solid #91d891;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

#navbar-wrapper .mobile-nav-links-hidden {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#navbar-wrapper .mobile-nav-links-show {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#navbar-wrapper #mobile-nav-hambuger-button {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-color: #91d891;
  color: black;
}

#navbar-wrapper #mobile-nav-hambuger-button:hover {
  cursor: pointer;
  background-color: #a9d4a9;
}

#navbar-wrapper #hamburger-shoppingcart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#navbar-checkout-container {
  position: relative;
  margin-right: 10px;
}

#navbar-checkout-container #navbar-checkout-cart {
  margin-right: 20px;
  color: white;
}

#navbar-checkout-container #navbar-checkout-cart:hover {
  color: #7ed3e2;
  cursor: pointer;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

#navbar-checkout-container #navbar-checkout-cart-amount-view {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  top: -22px;
  right: 8px;
  color: black;
  font-weight: 800;
  font-size: 14px;
  border-radius: 50%;
  background-color: #91d891;
}
/*# sourceMappingURL=navbar.css.map */