@import "../../../buttonStyles"; 
@import "../../../colorscheme"; 
@import "../../../mediaQueries"; 

#payment-form-container { 
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #paymentform-title-method { 
        margin-top: 2rem; 
    }
    #paymentform-stripe-payment { 
        background-color: white;
        width: 300px; 
        margin-top: 10px; 
        padding: 15px; 
        border-radius: 16px;
        @include for-custom-media(650px) { 
            width: 100%; 
        }
    }
}

.checkout-payment-button { 
    @include basic-button; 
}

#back-button { 
    background-color: $emptyCartButtonColor;
    margin-top: 15px;
    &:hover { 
        background-color: $emptyCartButtonColorHover; 
    }
    @include for-custom-media(650px) { 
        width: 100%; 
    }
}

#checkout-payment-submit-pay-button { 
    width: 100%; 
    background-color: $checkoutPayButtonColor;
    &:hover { 
        background-color: $checkoutPayButtonColorHover; 
    }
}