@import "../../../colorscheme"; 

#custom-text-field-container { 
    display: flex;
    flex-direction: column;
    justify-content: center; 

    #checkout-input-field { 
        width: 300px; 
        padding: 5px; 
        &:focus { 
            outline: none; 
            border-color: $accentColor; 
        }
    }
}


