@import "../../../mediaQueries"; 

#search-input-label{ 
    color: white; 
    #search-input { 
        width: 300px; 
        padding: 4px; 
        margin-bottom: 30px; 
        @include for-custom-media(450px){ 
            max-width: 200px; 
        }
    }
    @include for-custom-media(450px){ 
        display: flex;
        flex-direction: column;
    }
}

