//Main colors 
$accentColor: rgb(145, 216, 145); 

//Buttons 
$emptyCartButtonColor: rgb(238, 150, 92); 
$emptyCartButtonColorHover: rgb(248, 219, 185); 

$checkoutButtonColor: rgb(126, 211, 226); 
$checkoutButtonColorHover: rgb(175, 221, 230); 

$decrementButtonColor: rgb(240, 161, 161); 
$incrementButtonColor: rgb(145, 216, 145); 